*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
scroll-behavior:smooth;
}

body{
background:#f5f5f7;
}



.nav-main{
background:#e5e5e5;
padding:15px;
}

.nav-main ul{
display:flex;
justify-content:center;
gap:60px;
list-style:none;
}

.nav-main a{
text-decoration:none;
color:black;
font-weight:500;
}



.barra-info{
width:100%;
background:#d9d9d9;
padding:8px 20px;
display:flex;
justify-content:center;
align-items:center;
gap:15px;
font-size:15px;
}

.btn-cotizar{
background:#2f80ed;
color:white;
padding:5px 14px;
border-radius:20px;
text-decoration:none;
font-size:14px;
transition:.3s;
}

.btn-cotizar:hover{
background:#1c5fd4;
}


.hero{
text-align:center;
background:#CECECE;
}

.hero-img{
height:400px;
background:#c9b79e;
display:flex;
justify-content:center;
align-items:center;
}



.contenido{
padding:40px 40px 0 40px; 
background:#ececec;
}

.barra-tabs{
width:100%;
background:#d9d9d9;
padding:10px;
display:flex;
justify-content:center;
gap:15px;
margin-bottom:0; 
}

.tab-btn{
border:none;
background:transparent;
padding:6px 18px;
border-radius:20px;
cursor:pointer;
font-size:14px;
transition:.3s;
}

.tab-btn.activo{
background:#2f80ed;
color:white;
}

.tab-btn:hover{
background:#bdbdbd;
}



.contenido-flex{
display:flex;
justify-content:center;
gap:80px;
flex-wrap:wrap;
}

.texto{
width:350px;
height:350px;
background:#aaa;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.imagen{
width:450px;
height:350px;
background:#aaa;
display:flex;
justify-content:center;
align-items:center;
}



@media(max-width:800px){

.contenido-flex{
flex-direction:column;
align-items:center;
}

}

.barra-tabs{
width: 119.5em;
margin-left:calc(-50vw + 50%);
background:#d9d9d9;
padding:10px 20px;
display:flex;
justify-content:center;
align-items:center;
gap:15px;
margin-bottom:40px;
}