*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
scroll-behavior:smooth;
}

body{
background:#f5f5f7;
}



.nav-main{
background:#e5e5e5;
padding:15px;
}

.nav-main ul{
display:flex;
justify-content:center;
gap:60px;
list-style:none;
}

.nav-main a{
text-decoration:none;
color:black;
font-weight:500;
}



.barra-info{
width:100%;
background:#d9d9d9;
padding:8px 20px;
display:flex;
justify-content:center;
align-items:center;
gap:15px;
font-size:15px;
}

.btn-cotizar{
background:#2f80ed;
color:white;
padding:5px 14px;
border-radius:20px;
text-decoration:none;
font-size:14px;
transition:.3s;
}

.btn-cotizar:hover{
background:#1c5fd4;
}

